.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(226, 43%, 10%);
}

main {
    height: 100vh;
}

.options {
    background-color: hsl(235, 46%, 20%);
}

.work {
    background-color: hsl(15, 100%, 70%);
}

.play {
    background-color: hsl(195, 74%, 62%);
}

.study {
    background-color: hsl(348, 100%, 68%);
}

.exercice {
    background-color: hsl(145, 58%, 55%);
}

.social {
    background-color: hsl(264, 64%, 52%);
}

.selfcare {
    background-color: hsl(42, 84%, 65%);
}

.time {
    background-color: hsl(235, 46%, 20%);
}